.box{
    height: 150px;
    width: 150px;
}

.red{
    background-color: red;
    transition: both;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.red:hover{
    width: 300px;
}