body {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #a488b3;
    font-size: auto;
    text-align: center;
    background: radial-gradient(#c2e5ff, #c2ffc2, #ffc2c2);
    padding: 100px;
}

/*body::before,*/

body::after {
    content: "";
    /* width: 1ch; */
    animation: countdown 10s infinite;
}

body::after {
    animation-duration: 10s;
}

@keyframes countdown {
    5% {
        content: "10";
        font-size: 300px;
    }
    10% {
        content: "9";
        font-size: 300px;
    }
    15% {
        content: "8";
        font-size: 300px;
    }
    20% {
        content: "7";
        font-size: 300px;
    }
    25% {
        content: "6";
        font-size: 300px
    }
    30% {
        content: "5";
        font-size: 300px
    }
    35% {
        content: "4";
        font-size: 300px
    }
    40% {
        content: "3";
        font-size: 300px
    }
    45% {
        content: "2";
        font-size: 300px
    }
    50% {
        content: "1";
        font-size: 300px
    }
    100% {
        content: "I love CSS";
        font-size: 270px;
    }
}