* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

#main-header {
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    color: blue;
}

h1 {
    font-size: 4.2em;
    color: #007bff;
}

#header {
    color: #333;
}

.button {
    color: #333;
}

.skills {
    font-size: 1.3em;
}

.menu {
    font-size: 1.9em;
}

.title {
    font-size: 3em;
    color: #333;
}