* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

#main-header {
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    background-color: #007bff;
    width: 100px;
    height: 1px;
    border: none;
    padding: 0%;
}

h1 {
    font-size: 4.2em;
    color: #007bff;
    text-transform: uppercase;
}

p {
    font-size: 1.3em;
    text-align: center;
    color: #333;
}

span {
    color: #007bff;
}

.button {
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 20px;
    margin: auto;
    display: block;
    background-color: transparent;
}

#header {
    color: #333;
}

/* nav */

ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
    padding: 0;

}

ul {
	text-align: center;
	border-bottom: 1px solid #888;
    padding-bottom: 5px;
    background-color: #007bff;

}

ul li {
    display: inline;
    color: white;


}
}
.skills {
    font-size: 1.3em;
}

.menu {
    font-size: 1.9em;
}

.title {
    font-size: 3em;
    color: #333;
}