* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
        font-weight: 400;
}

hr {
    color: blue;
}

h1{


        font-size: 4.2em;

}

.skills{
    font-size: 1.3em;
}

.title{
    font-size: 1.9em;
}