* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    background-color: #007bff;
    width: 100px;
    height: 1px;
    border: none;
    padding: 0%;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 20px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    color: white;
    background-color: #007bff;
}

section {
    padding: 120px 0;
}

.section-header {
    margin-bottom: 75px;

}

.section-header h2 {
    color: #333;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
/* Header style */

.main-header {
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header .main-header-content {
    text-align: center;
}

.main-header .main-header-content h1 {
    font-size: 4.2em;
    color: #007bff;
    text-transform: uppercase;
    margin: 0;
}

.main-header .main-header-content p {
    color: #333;
    font-size: 1.3em;
    margin: 40px 0;
}

.main-header .main-header-content p span {
    color: #007bff;
}

/* nav */

.main-menu {
    background-color: #007bff;
}

.main-menu ul {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.main-menu ul .menu-item {
    display: inline-block;
    margin: 0 10px;
}

.main-menu ul .menu-item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 20px;
    display: block;
    transition: all .3;
}

.main-menu ul .menu-item a:hover {
    background-color: white;
    color: #007bff;
}

.about {
    background-color: white;
    height: 100hv;
    text-align: center;
    padding: 120px;
}

.about .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    padding: 30px;
}

.about p {
    margin: 40px 0 30px 0;
    line-height: 1.4;
    color: #777;
}

.portfolio {
    background-color: #f2f1ed;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item {
    flex-basis: 25%;
    height: 200px;
    position: relative;
}

.portfolio-wrapper .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-wrapper .portfolio-item h3 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 123, 255, 0.8);
	margin: 0;
    width: 100%;
    height: 100%;
	text-align: center;
    line-height: 200px;
    color: white;
    font-weight: 300;
    font-size: 3em;
	opacity: 0;
	transition: all .3s;
}

.portfolio-wrapper .portfolio-item h3:hover {
	opacity: 1;
}

.contact form {
    max-width: 700px;
    margin: 40px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
